# OS junk files

# Vscode files
*.code-workspace

# Cache data
.cache
__pycache__

# Cmake files
[Bb]uild*/
Testing
*.Cmake
MakeFile

# Build files
*.o
*.lst
tools/test

# Cmake artifacts
test_config_json.h
test_config_xml.h